/* General tags */

header {
    font-family: 'Raleway', sans-serif;
    color: white;
    
}

footer 
{
    font-family: 'Raleway', sans-serif;
    color: white;
   
}



header h2 
{
    display:inline-block;
    padding-left: 5vw;

}

form h1 {
    text-align: center;
}

header h4 {
    display:inline-block;
    text-align: right;
}

body 
{   
    background-color: rgb(32, 46, 59) ;     
    padding-top: 10vh;
    padding-bottom: 40px;
    
}




/* General Classes and IDs */

.links 
{
    text-decoration: none; 
    text-align: right;
    color: white;
}

.links:hover
{
    opacity: 0.5;
}

img.logo {
    display: inline-block;
    max-width: 30px;
    max-height: 30px;
    background-color: rgb(32, 46, 59) ;
}

.logo:hover
{
    opacity: 0.5;
}

#nome-principal {
    text-decoration: none;
    color: white;
    text-align: left;   
}

#main-header 
{
     display: inline-block;
     width: 100%;
     height:10vh; 
     position: absolute; 
     top: 0px;  
     left:0px;
     border-bottom: 6px;
     border-bottom-style: double;
     border-bottom-color: white;
     
     
    
}

#main-footer
{
     display: inline-block;
     position: fixed; 
     bottom: 0;  
     left:0;
     width: 100%;
     height: 6%;  
     border-top: 6px;
     border-top-style :double;
     border-top-color: white;   
   
}

#main-footer-habilidades
{
     display: inline-block;
     position: absolute; 
     bottom: -1;  
     left:0;
     width: 100%;
     height: 6%;  
     border-top: 6px;
     border-top-style :double;
     border-top-color: white;   
   
}

#page-links-container
{  
    position:relative;
    float: right;
    text-align: right;
    margin-right: 5%;

}

#logo-container 
{  
     display: flex;
     justify-content: space-between;
     align-self: baseline;
     align-content: center;
     height: 5%;
     width: 150px;
     margin-left: auto;
     margin-right: auto;
     margin-top: 0.25%;
   
    
}

#email-logo 
{
    display: inline-block;
    background-color: rgb(32, 46, 59) ;
    
}


/*contato.html  */

#form-container
{
    font-family: 'Smooch Sans', sans-serif;
    color: white;
    display: flex;
    position: relative;
    top: 0vh; 
    justify-content: center;
    align-items: center;
    width: 30vw;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10vh;
    padding-bottom: 6vh;   
}

#from , #reply
{
    width: 300px;
    display:flex;
    justify-content:space-between;
    margin-left: 2vw;
    margin-right: 2vw;
   
}

#message
{
    display:inline-block;
    text-align: center;
    margin-left: 2vw;
    margin-right: 2vw;
    
}

#msg
{
    width: 300px;
    max-width: 300px;
    padding-top: 20px;
    min-height: 170px;
    background-color:rgb(177, 177, 177);  
}

#mail, #name
{
   width: 250px;
   background-color:rgb(177, 177, 177);
}

#my-form
{
   border: 8px rgb(141, 141, 141);
   border-style: double;  
   padding-bottom: 30%;
   height: 40vh;
}

.button 
{
    font-family: 'Raleway';
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}


/* index.html*/

#index-container
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position:relative;
    width: 93vw;
    margin-right: auto;
    margin-left: auto;
    height:80vh;
    
    
}

#foto-container 
{
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: flex-start;
    border-right: 2px white solid;
    border-top: 0px;
    border-bottom: 0px;
    width: 350px
}

#profile-pic
{
    display: flex;
    position:relative;
    top: 10%;
    padding-bottom: auto;
}

#profile-pic img 
{
    max-width: 340px;
    max-height: 340px;
}

#profile-caption
{
    display: flex;
    color: white;
    font-family: 'Smooch Sans', sans-serif;
    font-size:2.8ch;
    height: 23vh;
    width:270px; 
    margin: auto auto auto auto;
}

#bio-container 
{
    display:flex;
    flex-direction:column;
    justify-self: center;
    width:70vw;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

.bio-header
{
    font-family: 'Playfair Display', sans-serif;
    font-size: xx-large;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
}

#bio-header-line
{
    width: 20vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

#bio-description
{
    color: rgb(223, 221, 221);
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    width: 65vw;
    margin-left: auto;
    margin-right: auto;
    text-justify: auto;
    text-align:justify;

}

#bio-experiencia
{
    color: rgb(201, 199, 199);
    font-family: 'Playfair Display', sans-serif;
    font-size: x-large;
    font-weight: bold; 
}

#curriculo
{
    font-family: 'Smooch Sans', sans-serif;
    text-align:justify;
    font-size:x-large;
    font-weight: 400;

}

#bio-intro
{
    font-size: 1.8ch;
}

/* sobre-mim.html*/

#grid-habilidades
{
    color:white;
    width: 95vw;
    margin-top: 12vh;
    margin-bottom: 8vh;
    margin-left: auto;
    margin-right: auto;
    position:relative;
    bottom: 12vh;
    height: auto;
    

}



table {
    padding-top: 10%;
    table-layout: auto;
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
    font-family: 'Raleway',sans-serif;
    border: 2px double white;
    background-color: rgb(36, 44, 53) ;
    
}
table td  {
    border: 2px double #ccc;
    text-align: center;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.822);
    padding-top: 15px;
    padding-bottom: 15px;
}

table th{
    border: 2px double white;
    font-size: 1.7ch;
    font-weight: bolder;
    padding-top: 15px;
    padding-bottom: 15px;
    color: rgb(255, 255, 255);
    
}
table .absorbing-column {
    width: 100%;
}


.tecnico-header
{
    font-family: 'Smooch Sans', sans-serif;
    font-size: 6.5ch;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: rgba(250, 248, 246, 0.822);
}

#competencias-header
{
    width: 50%;
    
}


/* portfolio.html */

#grid-portofolio
{
    display: grid;
    grid-template-rows: 20vh 1fr;
    align-items: center;
    justify-items: center;
    color:white;
    width: 95vw;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    
}

.project-flexbox
{
    display: flex;
    position:relative;
    top:0;
    width: 80vw;
    margin-top: 100px;
    height: 200px;
    
}


#portofolio-prompt
{
    text-align: center;
    color: white;
    font-family: 'Raleway',sans-serif;
}

.box-image
{
    display: inline;
   
    justify-self: center;
    align-self: center;
}

.project-description
{
    font-family: 'Raleway',sans-serif;
    display: inline-block;
    text-justify: auto;
    text-align: justify;
    font-size: large;
    color: white;
   
    width: 40vw;
    padding-top: 3%;
    padding-left: 15vw;   
}
.project-header
{

    font-family: 'Smooch Sans', sans-serif;
    font-size: 5.5ch;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;

}

.project-picture
{
    display: block;
    text-align: center;
    width: 420px;
    height: 192px;
    padding-top: 0px;
    margin: 0 auto;
}
.project-description-container
{
    text-align: center;
    width:60vw;
    margin: 0 auto;
}

.project-description-detailed
{
    font-family: 'Raleway',sans-serif;
    display: inline-block;
    text-align: justify;
    text-justify:inter-word;
    font-size: 2ch;
    color: white;
   
    width: 420px;
    padding-top: 1%;  
    padding-bottom: 50px; 
}


